.banner {
    box-sizing: border-box;
    background-image: url(../pics/hero-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__text-wrapper{
        padding: 5%;
        &__heading {
            margin-top: 0;
            font-size: 3em;
            font-weight: 800;
            letter-spacing: 2.22px;
            color: $textandbackground-color-one;
        }
        &__text {
            color: #436dac;
            font-size: 2em;
            font-weight: bold;
            letter-spacing: 1.48px;
        }
    }
    &__line {
        border: 3px solid $textandbackground-color-one;
    }
    
}