.footer {
    background: $background-footer;
    margin-bottom: 0;
    text-align: center;
    padding-top: 7em;
    padding-bottom: 7em;
    color: $textandbackground-color-one;

    &__heading {
        font-weight: bold;
        margin-top: 0;
        font-size: 30px;
        margin-bottom: 0;
    }
    &__text {
        padding: 1em;
    }
    &__strong {
        color: lighten($text-color-two, 20%);
        font-weight: bold;
    }
}
