.join-in {
    background: $background-color-two;
    padding: 5% 10% 5% 10%;
}

.input {
    display: grid;
    background: $textandbackground-color-one;
    padding: 5% 10%;
    grid-gap: 1em;
    grid-column: span 2;
    @media (min-width: 600px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 1000px) {
        grid-template-columns: 2fr 2fr 1fr;
        grid-gap: 2em;
    }
    &__box {
        width: 100%;
        height: 30px;
        border-radius: 5px;
        border: solid 1px $color-heading-blue;
    }
    &__submit {
        grid-column: 1 / -1;
        justify-self: center;
        margin-top: 1em;
    }
    &__submit__button {
        color: $color-heading-blue;
        width: 128px;
        height: 38px;
        border-radius: 10px;
        border: solid 1px $color-heading-blue;
        background: $textandbackground-color-one;
        &:hover {
            @media (min-width: 770px) {
                color: $textandbackground-color-one;
                background: rgba(83, 135, 212, 0.9);
                font-weight: bold;
            }
        }
    }
    &__box__birthdate {
        width: 100%;
        @media (min-width: 600px) {
            grid-column: span 2;
            width: 40%;
        }
        @media (min-width: 1000px) {
            width: 100%;
            grid-column: 3;
        }
    }
    &__motivation {
        grid-column: 1 / -1;
        &__message {
            width: 100%;
            height: 200px;
            border: solid 1px $color-heading-blue;
        }
    }
}

label {
    @extend %joinlabels;
}
