.navbar-head {
    height: auto;
    background-color: #061b38;
    // width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    &__list-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        @media (min-width: 530px) {
            justify-content: flex-end;
            padding-right: 2em;
        }
    }
    &__list {
        display: contents;
        list-style: none;

        &__item {
            display: contents;
        }
        &__link {
            padding: 0.2em;
            margin-bottom: 1em;
            text-decoration: none;
            color: $textandbackground-color-one;
            font-weight: bold;
            letter-spacing: 0.59px;
            transition: 300ms;
            @media (min-width: 500px) {
                padding: 0.3em;
                margin: 1em;
            }
        }
        &__link:hover {
            @media (min-width: 770px) {
                transform: scale(1.2);
            }
        }
        &__link--active {
            border-bottom: 4px solid $text-color-two;
        }
    }
    @media (min-width: 500px) {
        justify-content: space-between;
        flex-direction: row;
    }
    &__logo-wrapper {
        box-sizing: border-box;
        margin: 1em 2em;
        height: 100%;

        &__item {
            height: 100%;
            width: 90px;
            object-fit: contain;
            transition: 1s;
        }
    }
}

.navbar-head__logo-wrapper__item:hover {
    transform: rotate(360deg);
}
