$textandbackground-color-one: #ffffff;
$text-color-two: #e32700;
$text-color-three: #323232;
$background-color-two: #f1f1f1;
$color-heading-blue: #2c4f80;
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,800&display=swap");
